body{

font-family:微软雅黑;

background:#f7f7f7;

margin:30px;
}

.navbar{

font-size:30px;

font-weight:bold;

margin-bottom:30px;
}

table{

border-collapse:collapse;

width:100%;
}

td,th{

border:1px solid #ddd;

padding:10px;
}